        <style>
            section.program-post {
                background-color: #333;
                padding: 4px;
                margin-bottom: 20px;
            }
            h4.program-post {
                padding: 14px;
                margin: 0;
            }
            table.program-post {
                width: 100%;
            }
            th.favourite {
                width: 28px;
            }
            th.favourite span {
                font-size: 0.8em;
            }
            td.post-title {
                color: #00ff80;
            }
            .post-title-h3 {
                font-size: 1.4em;
                margin:  0 0 0 5px;
                padding: 0 0 0 5px;
                cursor: pointer;
                cursor: hand;
            }
            .post-title-h5 {
                font-size: 1.0em;
                margin:  0 0 0 5px;
                padding: 0 0 0 5px;
                cursor: pointer;
                cursor: hand;
            }
            td.kebab-icon {
                width: 30px;
            }
            ul.kebab {
                position: relative;
            }
            div.show {
                margin-left: 16px;
            }
            img.show-img {
                height: 156px;
                width:  156px;
                float: left;
                margin: 0 4px 4px 0;
            }
            p.footer {
                clear: left;
                text-align: right;
            }
            .kebab {
              cursor: pointer;
              position: relative;
              display: inline-block;
              box-sizing: border-box;
              padding: 0 16px;
              top: 12px;
            }
            .kebab figure {
              width: 6px;
              height: 6px;
              border-radius: 5px;
              background: $cyan;
              margin: 3px 0;
            }
        </style>
