        <style>
            section.program-post.sep {
                background-color: #333;
            }
            div.favourite {
                float: left;
                clear: both;
                padding-left: 5px;
                padding-right: 5px;
            }
            span.post-title {
                width: 97%;
                display: table-cell;
            }
            span.expand-icon {
                display: table-cell;
                margin: 0;
                padding: 0;
            }
            div.show {
                margin-left: 20px;
            }
            img.show-img {
                height: 156px;
                width:  156px;
                float: left;
                margin-bottom: 10px;
            }
            p.post-social {
                clear: left;
            }
            img.post-social {
                height: 30px;
            }
        </style>
